<!DOCTYPE html>
<html>
<head>
    <title>Certificate KM15EC10</title>

    <style>
        body{
            margin:0;
            background:#f5f5f5;
            display:flex;
            justify-content:center;
            align-items:center;
            height:100vh;
        }

        img{
            width:50%;
            max-width:1200px;
            box-shadow:0 10px 30px rgba(0,0,0,.3);
            border-radius:10px;
        }
    </style>

</head>
<body>

<img src="/Certificates/certificate/KM15EC10.jpeg" alt="Certificate">

</body>
</html>